/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 3, 2022, 1:37:20 PM
    Author     : Phamb
*/

a {
    text-decoration: none!important;
    color: black!important;
}

.folder {
    list-style: none;
    cursor: pointer;
    margin: 4px 0;
    counter-reset: section;
    cursor: pointer!important;
}

.folder>ul {
    display: none;
}

.folder.folder-open>ul {
    display: block;
    padding-left: 28px;
    /* margin-left: 9px;
border-left: 2px solid #5f6f72; */
}

.folder>ul>li::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: calc(50% - 10px);
    left: -25px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-image: url(/static/img/status_none.svg);
}

.folder li {
    margin-bottom: 10px;
}

img {
}